<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/SRIKANTH/intellj Workspace/IntellJ_Project">
        <classes><class name="org.example.Test2">
            <!--methods><include name="m2"/>
                <include name="m22"/></methods-->
        </class>
        </classes>
    </test>
</suite>